{# dateandtime/templates/dateandtime--time-zone.html.twig
/**
 * @file
 *
 * Displays the current time based on timezone selection.
 *
 * Available variables:
 * - country: Country name from config.
 * - city: City name from config.
 * - time: Current time from User selected Timezone from config
 */
#}
<p>Country: {{country}}</p>
<p>City: {{city}}</p>
<p>The current Time is {{time}}</p>